* {
  margin: 0;
  padding: 0;
  background-color: #fbf7f4;
  font-family: Urbanist;
}
header {
  background-color: #113743;
}
.site {
  background-color: #fca847;
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto;
}
.site_left {
  background-color: #fca847;
  display: flex;
  justify-content: left;
  align-items: center;
}
.site_right {
  background-color: #fca847;
  display: flex;
  justify-content: right;
}
.site_right a {
  background-color: #fca847;
  text-decoration: none;
}
.name {
  background-color: #fca847;
  font-size: 2rem;
}
.site_item {
  background-color: #e7374f;
  margin: 5px;
  padding: 10px;
  width: 60px;
  color: #fbf7f4;
  text-align: center;
  border: 1px solid #e7374f;
  border-radius: 25px;
}
.navbar {
  background-color: #113743;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar a {
  background-color: #113743;
  color: #fbf7f4;
  text-decoration: none;
}
.nav_item {
  background-color: #113743;
  margin: 5px;
  padding: 10px;
  width: 150px;
  color: #fbf7f4;
  text-align: center;
  border: 1px solid #fbf7f4;
  border-radius: 25px;
}
.nav_item_active {
  background-color: #fbf7f4;
  margin: 5px;
  padding: 10px;
  width: 150px;
  color: #113743;
  text-align: center;
  border: 1px solid #fbf7f4;
  border-radius: 25px;
}
.billboard {
  background-image: url(billboard-image.jpg);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.billboard_text {
  background: none;
  color: #fbf7f4;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
.categories_text {
  background-color: #e7374f;
  margin-top: 15px;
  padding: 10px;
  color: #fbf7f4;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}
.categories_content {
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.box {
  background-color: #fca847;
  height: 550px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #fca847;
  border-radius: 28px;
  display: grid;
  grid-template-rows: 30px auto 50px;
  row-gap: 10px;
}
.box_text_parent {
  background-color: #fca847;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_text_child {
  background-color: #fca847;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.box_image_1 {
  background-image: url(box-image-1.jpg);
  border: 3px solid #fbf7f4;
  border-radius: 20px;
  background-size: cover;
}
.box_image_2 {
  background-image: url(box-image-2.jpg);
  border: 3px solid #fbf7f4;
  border-radius: 20px;
  background-size: cover;
}
.box_image_3 {
  background-image: url(box-image-3.jpg);
  border: 3px solid #fbf7f4;
  border-radius: 20px;
  background-size: cover;
}
.button {
  background-color: #fca847;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  background-color: #fca847;
  text-decoration: none;
  color: #fbf7f4;
}
.button_text {
  background-color: #113743;
  width: 150px;
  padding: 10px;
  text-align: center;
  border: 1px solid #113743;
  border-radius: 25px;
}
footer {
  background-color: #113743;
}
.footer_text {
  background-color: #113743;
  padding: 12px;
  color: #fbf7f4;
  text-align: center;
}
